@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #495057;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #f1f3f5;
}

header nav ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

header .logo {
    font-weight: 700;
}

header nav li {
    list-style-type: none;
}

header nav a {
    text-decoration: none;
    color: #f1f3f5;
    transition: .2s ease;
    font-weight: 400;
}

header nav a:hover {
    cursor: pointer;
    color: #adb5bd;
    transition: .2s ease;
}

main {
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    gap: 50px;
    color: #f1f3f5;
    width: 100%;
}

main img {
    border-radius: 50%;
    width: 450px;
}

main section {
    display: flex;
    flex-direction: column;
}

main section .container span {
    font-size: 18px;
    font-weight: 400;
}

main section .container h1{
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 700;
}

main section .container p {
    width: 60ch;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: #e9ecef;
}

main section form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
    margin-top: 10px;
}

main section form p{
    font-size: 20px;
    padding: 5px 0;
}

main section form input {
    width: 50%;
    outline: 0;
    border: none;
    height: 35px;
    border-radius: 8px;
    padding: 8px 16px;
}

main section form input:last-child{
    margin-top: 5px;
    height: 45px;
    width: 30%;
    background-color: #0c8599;
    color: #c5f6fa;
    transition: .3s ease;
    text-align: center;
    font-size: 18px;
}

main section form input:last-child:hover {
    cursor: pointer;
    background-color: #22b8cf;
    color: #e9ecef;
    transition: .3s ease;
}